
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --corAzul: #144bc9;
    --corLetraCinza: #919090;
    --corBlack: #000
}

body {
    max-width: 600px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-weight: 400 ;
}
#email, #nome, #numeroTel {
    font-size: 1.2em;
}
.textC {
    text-align: center;
}
.flex {
    display: flex;
}

.corP {
    color: var(--corBlack);
}
.corC{
    color: var(--corLetraCinza);
}
 .parteAzul {
    background-color: #144bc9 ;
    color: #fff;
    padding: 20px 20px 0 20px;
 }
 .parteBranca {
    background-color: #f2f2f2;
    color: #000 ;
    padding: 0 20px 20px 20px;
 }

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header > section > div > img {
    margin-top: 40px;
}

header > section > h1 {
    margin-top: -10px;
    font-weight: 600;
}

header > section > #numeroTel {
    margin:  -10px 0 30px 0;
}

header > section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; /* Centraliza o texto dentro da section */
}

header > section > div > img {
    width: 4em;
    height: 4em;
    border-radius: 50%;
}

header > section > div.iconsImg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#curso{
    margin-bottom: 20px;
}

 .cardTop {
    max-width: 100%;
    height: 4.9em;
    margin: 0 auto;
    border: solid 2px #fff;
    background-color: #ffffff4f;
    padding: 30px;
    border-radius: 25px 25px 0 0 ;
}
.cardTop img {
    width: 9em;
}

.cardBottom {
    max-width: 100%;
    height: 7em ;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 15px 50px -10px rgba(0, 0, 0, 0.5);
    border-radius: 0 0 25px 25px ;   
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 0.8em;
    margin-top: -3px;
}
.containerAcessarCarteirinha{
    margin: 35px 0 35px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#iconAC{
    width: 22px;
    height: 22px;
    margin-right: 8px;
}

#acessarCarteirinha{
    margin-left: 8px;
}
.btnsPerfilConteiner {
    font-size: 0.9em;
}
.conteinerBtnsPerfil {
  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
}

.btnsPerfil {
    width: 80%; 
    height: 8em;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    border: solid 2px #ece9e9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px 0 5px 0;
}

.btnsPerfil > img {
    width: 2em;
}
.versaoApp{
    margin-top: 20px;
    color:#919090;
}
.sairApp{
    font-weight: 500;
    color: var(--corAzul);
    margin-bottom: 100px;
}

a {
    text-decoration: none;
}

/* Estilo para o menu */
#menu {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 5em;
    background-color: #fff; /* Cor de fundo do menu */
    
    z-index: 1000; /* Garante que o menu fique acima de outros elementos */
}
#menu > section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: var(--corLetraCinza);
}
/* Estilo para os botões do menu */
.btnFooter {
    text-align: center;
    padding: 5px 8px;
}

.btnFooter img {
    margin-bottom: -8px ;
} 

#btnIni, #btnSup, #btnCar, #btnFin, #btnPer{
    width: 24px;
    height: 24px;
}

#btnFin{
    width: 19px;
}
#btnCar {
    height: 26px;
}

.btnFooter p {
font-size: 14px;
}

.btnPerfA {
    color: #144bc9;
}


:root {
    --modal-max-width: 600px;
}

.modal {
    display: none;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semitransparente */
}

.modal-content {
    background-image: url('https://scontent.frao7-1.fna.fbcdn.net/v/t39.30808-6/448945850_7810135779101668_6921099502890091849_n.jpg?stp=dst-jpg_p526x296&_nc_cat=102&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeGu5RSq4Cc_qAET6q4fKN9FJEAoQ8sOsGMkQChDyw6wY_7hsTALb-1ryxm-a-srhw2DAxlgt3OJM4j1Wb_RGKU0&_nc_ohc=507Ri5JtGPsQ7kNvgGnI3nI&_nc_ht=scontent.frao7-1.fna&oh=00_AYCY2E4VvQnAvn5DJ4mOzPKaoihYQ4iGP2-DD6WyjrKnAQ&oe=66884727'); /* Link da imagem de papel de parede */
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: var(--modal-max-width);
    height: 100%;
    position: relative;
    font-size: 0.9em;

}

.close {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.close img {
    width: 15px;
}

#modalCarteirinha{
    padding-top: 3em;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-weight: 500;
}

#imgModal {
    text-align: center;
    
    font-size: 1em;
}

#fotoUrlModal {
    width: 6em;
    height:6em;
    border-radius: 50%;
}

.grupoA{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.grupoB {
    width: 80%;
}

.footerModal img{
    margin-top: 30px;
    width: 9em;
}
