
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    max-width: 600px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-weight: 400 ;
}
#email, #nome, #numeroTel {
    font-size: 1.2em;
}
.textC {
    text-align: center;
}
 .parteAzul {
    background-color: #144bc9 ;
    color: #fff;
    padding: 20px 20px 0 20px;
 }
 .parteBranca {
    background-color: #f2f2f2;
    color: #000 ;
    padding: 0 20px 20px 20px;
 }

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header > section > div > img {
    margin-top: 40px;
}

header > section > h1 {
    margin-top: -10px;
    font-weight: 600;
}

header > section > #numeroTel {
    margin:  -10px 0 30px 0;
}

header > section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; /* Centraliza o texto dentro da section */
}

header > section > div > img {
    width: 4em;
    height: 4em;
    border-radius: 50%;
}

header > section > div.iconsImg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#curso{
    margin-bottom: 20px;
}

 .cardTop {
    max-width: 100%;
    height: 4.7em;
    margin: 0 auto;
    border: solid 2px #fff;
    background-color: rgba(255, 255, 255, 0.308);
    padding: 30px;
    border-radius: 25px 25px 0 0 ;
}
.cardTop img {
    width: 9em;
}

.cardBottom {
    max-width: 100%;
    height: 6em ;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 15px 50px -10px rgba(0, 0, 0, 0.5);
    border-radius: 0 0 25px 25px ;   
    display: flex;
    justify-content: space-around;
    font-size: 0.8em;
}
.containerAcessarCarteirinha{
    margin: 35px 0 35px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#iconAC{
    width: 22px;
    height: 22px;
    margin-right: 8px;
}

#acessarCarteirinha{
    margin-left: 8px;
}

.conteinerBtnsPerfil {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    width: 100%;
    justify-items: center; /* Centraliza horizontalmente os itens */
    align-items: center; /* Centraliza verticalmente os itens */
}

.btnsPerfil {
    width: 12em; 
    height: 12em;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    border: solid 2px #dad7d7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btnsPerfil > img {
    width: 2em;
}
.versaoApp{
    margin-top: 20px;
    color:#919090;
}
.sairApp{
    font-weight: 500;
    color: #144bc9;
    margin-bottom: 70px;
}

/* Estilo para o menu */
#menu {
    position: fixed;
    bottom: 0;
    width: 500px;
    margin: 0 0 0 -19px;
    background-color: #fff; /* Cor de fundo do menu */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0; /* Adiciona um pouco de padding vertical */
    z-index: 1000; /* Garante que o menu fique acima de outros elementos */
}

/* Estilo para os botões do menu */
/* .btnFooter {
    text-align: center;
    padding: 5px 5px;
} */

/* .btnFooter img {
    width: 24px; 
    height: 24px;
    display: block;
    margin: 0 auto; 
    padding-bottom: 5px;
} */
/* 
.btnFooter p {
    margin: 5px 0 0; /* Margem para o texto */
    /* font-size: 14px;
}
#btnPerfil {
    filter: brightness(0) invert(1); 
}

#btnPertil > p{
    color: #144bc9;
} */
